<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>mvc-personnes-01</display-name>
	<!--  ServletPersonne -->
	<servlet>
		<servlet-name>personnes</servlet-name>
		<servlet-class>
            sn.ipsl.mvc.personnes.web.Application
        </servlet-class>
		<init-param>
			<param-name>urlEdit</param-name>
			<param-value>/WEB-INF/vues/edit.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>urlErreurs</param-name>
			<param-value>/WEB-INF/vues/erreurs.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>urlList</param-name>
			<param-value>/WEB-INF/vues/list.jsp</param-value>
		</init-param>
	</servlet>
	<!--  Mapping ServletPersonne-->
	<servlet-mapping>
		<servlet-name>personnes</servlet-name>
		<url-pattern>/do/*</url-pattern>
	</servlet-mapping>
	<!--  fichiers d'accueil -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<!--  Page d'erreur inattendue -->
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/vues/exception.jsp</location>
	</error-page>
	<!--  ici on peut specifier pour chanque d'erreur une page
	il suffira de definir une vue pour chaque type d'erreur  -->
	<!-- 
	<error-page>
        <error-code>400</error-code>
        <location>/WEB-INF/vues/errors400.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/WEB-INF/vues/errors401.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/vues/errors403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/vues/errors404.jsp</location>
    </error-page>
    <error-page>
        <error-code>408</error-code>
        <location>/WEB-INF/vues/errors408.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/WEB-INF/vues/errors405.jsp</location>
    </error-page>
     <error-page>
        <error-code>415</error-code>
        <location>/WEB-INF/vues/errors415.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/vues/errors500.jsp</location>
    </error-page>
	-->
</web-app>
